<!-- <div class="main-content">
    <div class="container-fluid"> -->
        <h2 class="title-component">Dashboard</h2>
        <div id="content">
            <div class="row">
                <div class="col">
                    <div class="col-md-12">
                        <div class="card card-chart" id="tarjeta">
                            <div id="titulo_tarjeta">
                                <h5>Ventas Mensuales</h5>

                            </div>
                            <app-grafica-barra [results]="salesMonth"></app-grafica-barra>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="col-md-12">
                        <div class="card card-chart" id="tarjeta">
                            <div id="titulo_tarjeta">
                                <h5>Ventas Anuales</h5>

                            </div>
                            <app-grafica-barra [results]="salesYear"></app-grafica-barra>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div>
</div> -->