<!-- <div class="main-content">
    <div class="container-fluid"> -->
        <h2 id="title-component">Productos de Categoría {{categoryTitle}} </h2>
        <div class="row">
            <div class="col-md-12">
                <div class="container" id="formulario">
                    <div class="col text-center">
                        <button mat-raised-button class="btnCreaPersonalizado" color="primary"
                            [routerLink]="['/categories/']" routerLinkActive="active">
                            <mat-icon>
                                undo
                            </mat-icon>
                            Regresar
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let productCategory of arrayProductsCategory" id="div-card">
                <div id="content">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title class="card-title">{{productCategory.title}} | {{productCategory.price |
                                currency}}
                            </mat-card-title>
                        </mat-card-header>
                        <img mat-card-image class="img-product" [src]="productCategory.imagePath"
                            [alt]=productCategory.title>
                        <mat-card-content>
                            <p class="card-description">
                                {{productCategory.description}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <div class="col text-center">
                                <button mat-fab class="botones" id="btn-editar"
                                    (click)="ModalEditProduct(productCategory._id, productCategory.title, productCategory.category, productCategory.description, productCategory.price, productCategory.purchase_price, productCategory.stock)">
                                    <span class="material-icons">
                                        edit
                                    </span>
                                </button>
                                <button mat-fab class="botones" color="warn"
                                    (click)="deleteProduct(productCategory._id, productCategory.title)">
                                    <span class="material-icons">
                                        delete
                                    </span>
                                </button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <br>
            </div>
        </div>
    <!-- </div>
</div> -->